*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #2A72A2,darkblue);
}

form {
    display:block;
    justify-content: center;
}

input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
}

button {
    width: 100%;
    background-color: #43A4E3;
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
}

hr{
    border: 2px solid black;
}

section{
    border: 1px solid grey;
    width: 100%;
    height: 350px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightslategray;
}

p{
    font-size: 20px;
}
.cardPosition{
    display: flex;
    justify-content: center;
}

.cardSizing {
    margin: 5px;
    width: 200px;
    padding: 0;
    background-color: lightslategray;
    color: white;
}